
.filter{
    padding: 20px;
    background-color: rgb(91, 91, 91);
}

.filter label{
    font-size: 15px;
    margin-right: 10px;
}
.filter label input{
    padding: 10px;
}

.filter .filterreset{
    background-color: red;
    padding: 10px;
    border: 1px solid white;
}

